.mobile_menu{
    position: fixed;
    right: 0;
    left: 0;
    top: 5em;
    width: 100%;
    height: 90vh;
    background-color: $nav;
    display: flex;
    justify-content: center;
    align-items: center;

    .mobile_menu_inner{
        margin-top: -1em;
        width: 100%;

        .join_chat{
            text-align: center;
            
            a{
                button{
                    padding: .8em 1,5em;
                    font-size: 1.6em;
                }
            }
        }

        ul{
            list-style: none;
            margin-bottom: 1em;
            li{
                border: .2em solid rgb(230, 230, 230); 
                margin-bottom: .5em;
                padding: 1em ;

                a{
                    font-size: 1.3em;
                }
                 
            }
        }
    }
}