@import'variables';
@import'product';
@import'home';
@import'nav';
@import'cart';
@import'auth';
@import'search';
@import'loader';
@import'mobile_menu';
@import'productDetails';


:root{
    box-sizing: border-box;
}

*,::after,::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family:  Helvetica, sans-serif;
    background-color: $main_bg;
    overflow-x: hidden;

    input{
        outline: none;
        border: none;
        font-size: 1.1em;
        padding-left: 1em;
    }

    button{
        outline: none;
        padding: .5em 1em;
        background-color: $btn;
        font-size: 1em;
        color: $btn_text_color;
        transition: all .5s linear;
        border: .2em solid $btn;
        border-radius: .3em;

        &:hover{
           
           background-color: $btn_hover;
           color: $btn_hover_text_color;
        }
    }
}

.move_up{
    margin-bottom: 3em;
    background-color: cadetblue;
    width: 100%;
    min-height: 40em;
}

.scroll_to_top{
   

    .scroll_to_top_inner{
        position: fixed;
        width: 3em;
        height: 3em;
        position: fixed;
        bottom: 1em;
        right: 2em;
        border-radius: 100%;
        background-color: brown;

        h3{
           text-align: center; 
           margin-top: .8em;
           color: white;
           animation: move_scroll 0.5s alternate infinite;
        }
    }
}

@keyframes move_scroll {
    from{
        transform: translateY(2px);
    } to{
        transform: translateY(-1px);
    }
}

a{
    text-decoration: none;
    color: white;
}

.footer{
    background-color: $nav;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}




